@import url("reset.css");

@font-face {
  font-family: "Inter";
  src: url("../fonts/RasmusAndersson-Inter-Variable.ttf");
  font-weight: normal;
  font-style: normal;
}

/* base styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --pastel-pink: #fee6ec;
  /* --pastel-yellow: #f5f6be; */
  --pastel-yellow: #fbfbc9;
  --pastel-purple: #e7e9fe;
  --pastel-orange: #ffdebd;
  --pastel-green: #cdfbdf;
  --pastel-blue: #def7f9;
  --waabwaab-blauw: #00b5e2;
  --beige: #faf0d1;
  --darkbeige: #f3dc96;
  --lightbeige: #fcf7e8;
  --pastel-lightyellow: #fdfde9;
  --pastel-lightorange: #fff1e3;
  --fuchsia: #f90975;
  --darkmode: #363636;
  --grey: #d1d2cf;
  --lemon: #fdf919;
  --brazzigreen: #32d3a9;
  --nineties: #dbd9ef;
  --lightpink: #f4c0e0;
  --popblue: #01ffff;
  --katarina-grey: #ced3d9;
  --aqua: #56f5bf;
  --brown: #ba8b43;
  --red: #f22556;
  --darkerrorange: #f4b385;
  --lighterorange: #f9d7cf;
  --cardwhite: #f5f4f3;
  --cardgrey: #edecec;
  --text: #505050;
}

body {
  background-color: var(--bodycolor);
  font-family: Inter;
  color: var(--text);
}

#container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(
    159deg,
    rgba(249, 215, 207, 1) 36%,
    rgba(244, 179, 133, 1) 100%
  );
  background-size: 200% 200%;
  position: relative;
  animation-name: colorflow;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
}

@keyframes colorflow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* card styles */

.card {
  background-color: var(--cardwhite);
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
  z-index: 2;
}

.card__header {
  height: 40px;
  background-color: var(--cardgrey);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

/* Photo section */

#photo {
  width: 322px;
  height: 322px;
  position: absolute;
  top: 10%;
  left: 10%;
}

#photo img {
  width: 100%;
  height: auto;
  display: block;
}

/* Weather section */

#weather {
  height: 65px;
  width: 650px;
  position: absolute;
  top: 35%;
  left: 35%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#weather > div,
#weather > img {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 65px;
}

#weather > img {
  object-fit: contain;
  height: 70%;
  align-self: center;
}

/* Time section */

#time {
  height: 65px;
  width: 250px;
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Map section */

#map {
  height: 503px;
  width: 395px;
  position: absolute;
  top: 30%;
  left: 40%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Responsive styles */

@media screen and (max-width: 1012px) {
  #weather {
    top: 35%;
    left: 15%;
  }
}

@media screen and (max-width: 774px) {
  #photo,
  #weather,
  #time,
  #map {
    position: static;
    margin-bottom: 10px;
  }
  #container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  #weather {
    flex-direction: column;
    justify-content: center;
    width: 322px;
    height: 322px;
  }
  #weather > div {
    width: 100%;
  }
  #weather > img {
    height: 33%;
  }
}

@media screen and (max-width: 449px) {
  #map {
    height: 503px;
    width: 360px;
  }
}

@media screen and (max-width: 350px) {
  #photo,
  #weather,
  #time,
  #map {
    width: 304px;
  }
}

/* Forecast section

#forecast {
  width: 390px;
  height: 505px;
  position: absolute;
  top: 320px;
  left: 400px;
}

#forecast > div {
  border: 1px solid;
  height: 14.3%;
  padding-left: 27px;
}

#forecast > div:nth-of-type(1) {
  font-size: 2rem;
  line-height: 70px;
  text-transform: uppercase;
} */
