@import url("reset.css");

@font-face {
  font-family: "Inter";
  src: url("../fonts/RasmusAndersson-Inter-Variable.ttf");
  font-weight: normal;
  font-style: normal;
}

/* base styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --pastel-pink: #fee6ec;
  /* --pastel-yellow: #f5f6be; */
  --pastel-yellow: #fbfbc9;
  --pastel-purple: #e7e9fe;
  --pastel-orange: #ffdebd;
  --pastel-green: #cdfbdf;
  --pastel-blue: #def7f9;
  --waabwaab-blauw: #00b5e2;
  --beige: #faf0d1;
  --darkbeige: #f3dc96;
  --lightbeige: #fcf7e8;
  --pastel-lightyellow: #fdfde9;
  --pastel-lightorange: #fff1e3;
  --fuchsia: #f90975;
  --darkmode: #363636;
  --grey: #d1d2cf;
  --lemon: #fdf919;
  --brazzigreen: #32d3a9;
  --nineties: #dbd9ef;
  --lightpink: #f4c0e0;
  --popblue: #01ffff;
  --katarina-grey: #ced3d9;
  --aqua: #56f5bf;
  --brown: #ba8b43;
  --red: #f22556;
  --darkerrorange: #f4b385;
  --lighterorange: #f9d7cf;
}

body {
  background-color: var(--bodycolor);
  font-family: Inter;
}

#container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(
    159deg,
    rgba(244, 179, 133, 1) 36%,
    rgba(249, 215, 207, 1) 100%
  );
}

/* Photo section */
